#fullscreenWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 1051;
}

#fullscreenWrapper .container {
  height: 100%;
}

#fullscreenWrapper .fullscreen {
  height: 100%;
}

#fullscreenWrapper .fullscreen-body {
  overflow-y: auto;
}

#fullscreenWrapper .fullscreen-footer {
  text-align: center;
}

#fullScreenWrapper .fullscreen-footer .btn {
  min-width: 25%;
}
