.closeablePanel .openedIcon {
  display: none;
}
.closeablePanel .closeableArea {
  display: none;
}
.closeablePanel.open .closedIcon {
  display: none;
}
.closeablePanel.open .openedIcon {
  display: inline;
}
.closeablePanel.open .closeableArea {
  display: block;
}