.resultNumberList {
  text-align: center;
}

.resultNumberList .resultNumber {
  min-width: 5rem;
}

.resultNumberList .resultOperator {
  min-width: 2rem;
}

.resultNumberList.damage  .resultNumber.result,
.resultNumberList.damage  .resultNumber.cardType,
.resultNumberList.damage  .resultNumber.cardBuff,
.resultNumberList.damage  .resultNumber.classMatch,
.resultNumberList.damage  .resultNumber.alignmentMatch,
.resultNumberList.damage  .resultNumber.extraReward,
.resultNumberList.gainNp .resultNumber.cardType,
.resultNumberList.gainNp .resultNumber.cardBuff,
.resultNumberList.gainNp .resultNumber.npBuff,
.resultNumberList.gainNp .resultNumber.overkill,
.resultNumberList.starDrop .resultNumber.basicStarDrop {
  min-width: 7rem;
}

.resultNumberList.damage  .resultNumber.busterChain,
.resultNumberList.gainNp .resultNumber.basicGainNp {
  min-width: 12rem;
}

.resultNumberList.damage  .resultNumber.attackBuff {
  min-width: 18rem;
}

.resultNumberList.damage  .resultNumber.damageBuff{
  min-width: 20rem;
}

.resultNumberList.damage  .resultNumber.specialBoost {
  min-width: 25rem;
}

